td {
  vertical-align: middle !important;
}

button {
  font-size: 13px !important;
}

button#edit {
  background: #5BC0DE;
}

button#delete {
  background: #D9534F;
}

button#add {
  background: #5CB85C;
}

button#save {
  background: #337AB7;
}

button#cancel {
  background: #F0AD4E;
}

label {
  font-weight: bold;
}
